rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sellers/{sellerId} {
      allow read, write: if true;
    }
    match /transactions/{txnId} {
      allow read, write: if true;
    }
  }
}